{% extends 'base.html' %}
{% load static %} 

{% block content %}


<!-- <div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item span-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
   
  </div> -->



<div class="container mt-4" style="max-width: 1200px;">
    <!-- <h1 class="text-center mb-1">App Dashboard</h1> -->
    <div class="row row-cols-1 row-cols-md-3 g-4  mb-5">
        
        <div class="col d-flex justify-content-center align-items-center">
            <div class="card text-center" style="width: 18rem;"
            >
                <div class="card-body">
                    <h5 class="card-title">Total Portfolio Value</h5>
                    <p class="card-text" id="totalPortfolioValue">Loading...</p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-center ">
            <div class="card text-center" style="width: 18rem;"
            >
                <div class="card-body">
                    <h5 class="card-title">Average Portfolio Value</h5>
                    <p class="card-text" id="averagePortfolioValue">Loading...</p>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center align-items-center">
            <div class="card text-center" style="width: 18rem;"
            >
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text" id="totalUsers">Loading...</p>
                </div>
            </div>
        </div>

    </div>

        
        <div class = "container" style = "max-width: 850px;">
            <!-- CAROUSEL -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-block w-100">
                                <div class="chart-container" style="position: relative; height:40vh; width:90%;">
                                    <canvas id="chart1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="chart-container" style="position: relative; height:40vh; width:90%;">
                                    <canvas id="chart2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col d-flex justify-content-center align-items-center">
                                <div class="chart-container" style="position: relative; height:40vh; width:90%;">
                                    <canvas id="chart3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

        </div>
    </div>






{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src= "{% static 'js/scripts.js'  %}" ></script>
<script>
// Object to keep track of active charts
const activeCharts = {};

// Function to destroy all charts
function destroyAllCharts() {
    for (const chartId in activeCharts) {
        if (activeCharts[chartId]) {
            activeCharts[chartId].destroy();
            delete activeCharts[chartId];
        }
    }
}

destroyAllCharts();

document.addEventListener('DOMContentLoaded', function () {

    async function fetchAndDisplayTotalPortfolioValue() {
        try {
            const response = await fetch('/charts/combined-dashboard-data/');
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            const totalValue = data.total_portfolio_value; // 
            console.log(totalValue)
            const averageValue = data.average_portfolio_size; // 
            const totalUsers = data.total_users; // 

            const totalValueElement = document.getElementById('totalPortfolioValue');
            const averagePortfolioElement = document.getElementById('averagePortfolioValue');
            const totalUsersElement = document.getElementById('totalUsers');
            if (totalValueElement) {
                totalValueElement.textContent = `$${totalValue.toLocaleString()}`;
                averagePortfolioElement.textContent = `$${averageValue.toLocaleString()}`;
                totalUsersElement.textContent = totalUsers.toLocaleString();
            }
        } catch (error) {
            console.error('Error fetching total portfolio value:', error);
            // const totalValueElement = document.getElementById('totalPortfolioValue');
            if (totalValueElement) {
                totalValueElement.textContent = 'Error loading data';
            }
            if (averagePortfolioElement) {
                averagePortfolioElement.textContent = 'Error loading data';
            }
            if (totalUsersElement) {
                totalUsersElement.textContent = 'Error loading data';
            }
        }
    }

    // Call the function after the DOM has loaded
    fetchAndDisplayTotalPortfolioValue();
});

    // Define chart configurations
    const chartConfigs = [
        // { id: 'chart1', url: '/charts/total-users/', type: 'doughnut', title: 'Total Users' },
        { id: 'chart1', url: '/charts/top-invested-stocks/', type: 'bar', title: 'Top 10 Invested Stocks', legend:false},
        // { id: 'chart3', url: '/charts/total-portfolio-value/', type: 'pie', title: 'Total Portfolio Value' },
        { id: 'chart3', url: '/charts/user-growth-over-time/', type: 'line', title: 'User Growth Over Time',legend:false },
        // { id: 'chart5', url: '/charts/average-portfolio-size/', type: 'polarArea', title: 'Average Portfolio Size' },
        { id: 'chart2', url: '/charts/top-industries/', type: 'bar', title: 'Top Industries by Value',legend:false }
    ];

    // Function to fetch data and create a chart
    function fetchAndCreateChart(config) {
    fetch(config.url)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Error fetching data for ${config.title}`);
            }
            return response.json();
        })
        .then(data => {
            console.log(config.url)

            // Declare labels and values outside the conditions
            let labels = [];
            let values = [];
            // Transform the API response into `labels` and `data`
            if (config.url === '/charts/top-invested-stocks/') {
            labels = data.map(item => item.asset_ticker);
            values = data.map(item => item.total_value);
        }   else if (config.url === '/charts/user-growth-over-time/') {
            labels = data.map(item => item.day);
            values = data.map(item => item.total_users);                
        }   else if (config.url === '/charts/top-industries/') {
            labels = data.map(item => item.industry);
            values = data.map(item => item.total_value); 
                          

        }
        console.log(labels, values);
            if (activeCharts[config.id]) {
                activeCharts[config.id].destroy();
            }
            // Call the createChart function with the transformed data
            activeCharts[config.id] = createChart(config.id, labels, values, config.title, config.type);
        })
        .catch(error => console.error(error));
}

// Iterate over the chart configurations and create each chart
chartConfigs.forEach(config => {
    fetchAndCreateChart(config);
});
    // Iterate over the chart configurations and create each chart
    chartConfigs.forEach(config => {
        fetchAndCreateChart(config);
    });



// Reusable function to create a pie chart
function createChart(chartId, labels, data,chartTitle,chartType,label) {
    const ctx = document.getElementById(chartId).getContext('2d');
    return new Chart(ctx, {
        type: chartType,
        data: {
            labels: labels,
            datasets: [{
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                  ],
                  borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                  ],
                  borderWidth: 1,
                hoverOffset: 4
            }]
        },
        options: {
                scales: {
                    x: {
                        ticks: {
                            callback: function(value) {
                                console.log(`X AXIS : ${this.getLabelForValue(value)}`)
                                let xVal =  this.getLabelForValue(value);
                                xVal = parseInt(xVal.replace(/,/g, ""), 10);
                                if (!isNaN(xVal)){
                                    if (xVal >= 10000) {
                                    return xVal/1000 + "K"
                                    } else {
                                    return this.getLabelForValue(value)
                                    }
                            }
                                else {
                                    
                                    return this.getLabelForValue(value).substr(0,10)
                                }
                                

                            },
                        }
                    },
                    y: {
                        ticks: {
                            callback: function(value) {
                                console.log(`Y AXIS : ${this.getLabelForValue(value)}`)
                                let yVal =  this.getLabelForValue(value);
                                yVal = parseInt(yVal.replace(/,/g, ""), 10);

                                if (!isNaN(yVal)){
                                    if (yVal >= 10000) {
                                    return yVal/1000 + "K"
                                    } else {
                                    return this.getLabelForValue(value)
                                    }
                            }
                                else {
                                    
                                    return this.getLabelForValue(value).substr(0,10)
                                }
                            },
                        }
                    }
                },

            layout: {
                padding: {
                    bottom: 20
                }
            },

            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            maintainAspectRatio: false,
            responsive: true,

            plugins: {
                legend: {
                    position: 'bottom',
                    display: false,  // Show legend only for larger screens
                    
                },
                tooltip: {
                    // Tooltip will only receive click events
                    enabled: true,
                    events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove']
                  },
                
                datalabels: {
                    display: function (context) {
                        // Show labels only on smaller screens
                        return window.innerWidth <= 768;
                    },
                    color: '#000',
                    align: 'end',
                    anchor: 'end',
                    formatter: (value, context) => {
                        return `${context.chart.data.labels[context.dataIndex]}: ${value}`;
                    }
                },



                title: {
                display: true,
                text: chartTitle //'Custom Chart Title'
            }
                

                
            },
        }
    });
}



// Function to remove all alert-* classes from an element
function removeAlertClasses(element) {
    // Loop through all classes of the element
    Array.from(element.classList).forEach((className) => {
        // Check if the class starts with "alert-"
        if (className.startsWith('alert-')) {
            element.classList.remove(className); // Remove the class
        }
    });
}


function resizeLegend(chart) {
    const isSmallScreen = window.innerWidth < 768; // Adjust the threshold as needed
    chart.options.plugins.legend.display = !isSmallScreen; // Hide legend on small screens
    chart.update(); // Update the chart to apply changes
}




</script>
{% endblock scripts %}
