{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="fs-0 fs-1 fs-sm-2 fs-md-3 fs-lg-4 d-flex d-block justify-content-center align-items-center">
    {% if page == 'edit' %}
        Edit Profile
    {% else %}
        Add Details
    {% endif %}
</h1>

<div class="container-sm container_add mt-4" id="login-section">
    <form method="POST" autocomplete="off" action="{% url 'edit-account' page=None %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="row g-3 align-items-center">
            

        {% for field in form %}
        
            <div class="form-floating mb-2">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        
        {% endfor %}
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">
            {% if page == 'edit' %}
                Save
            {% else %}
                Register
            {% endif %}
            </button>
        </div>
    
        </div>
        
    </form>
</div>


{% endblock content %}